@model IEnumerable<HRPortal.Domain.Entities.TblVacancyAdvert>

@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>NSIA Recruitment Portal</title>
    <!-- SEO Meta Tags-->

    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="description" content="NSIA - Directory &amp; Listings Bootstrap Template">
    <meta name="keywords" content="bootstrap, business, directory, listings, e-commerce, car dealer, city guide, real estate, job board, user account, multipurpose, ui kit, html5, css3, javascript, gallery, slider, touch">
    <meta name="author" content="Createx Studio">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-TileColor" content="#766df4">
    <meta name="theme-color" content="#ffffff">

    @*<link href="https://fonts.googleapis.com/css?family=Century%20Gothic:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">


        <style>
            body {
                font-family: 'Century Gothic';
            }


            .videoWrapper {
                position: relative;
                padding-bottom: 56.25%; /* 16:9 */
                padding-top: 25px;
                height: 0;
            }

                .videoWrapper iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
        </style>

        <style>
            h1, h2, h3, h4, h5, h6, div, span, a, p {
                font-family: 'Century Gothic' !important;
            }
        </style>*@


    <style>
        .page-loading {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -webkit-transition: all .4s .2s ease-in-out;
            transition: all .4s .2s ease-in-out;
            background-color: #fff;
            opacity: 0;
            visibility: hidden;
            z-index: 9999;
        }

            .page-loading.active {
                opacity: 1;
                visibility: visible;
            }

        .page-loading-inner {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            text-align: center;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            -webkit-transition: opacity .2s ease-in-out;
            transition: opacity .2s ease-in-out;
            opacity: 0;
        }

        .page-loading.active > .page-loading-inner {
            opacity: 1;
        }

        .page-loading-inner > span {
            display: block;
            font-size: 1rem;
            font-weight: normal;
            color: #666276;
            ;
        }

        .page-spinner {
            display: inline-block;
            width: 2.75rem;
            height: 2.75rem;
            margin-bottom: .75rem;
            vertical-align: text-bottom;
            border: .15em solid #bbb7c5;
            border-right-color: transparent;
            border-radius: 50%;
            -webkit-animation: spinner .75s linear infinite;
            animation: spinner .75s linear infinite;
        }

        @@-webkit-keyframes spinner {
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @@keyframes spinner {
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
    </style>
    <!-- Page loading scripts-->
    <script>
        (function () {
            window.onload = function () {
                var preloader = document.querySelector('.page-loading');
                preloader.classList.remove('active');
                setTimeout(function () {
                    preloader.remove();
                }, 2000);
            };
        })();

    </script>
    <!-- Vendor Styles-->
    <link rel="stylesheet" media="screen" href="~/vendor/simplebar/dist/simplebar.min.css" />
    <link rel="stylesheet" media="screen" href="~/vendor/tiny-slider/dist/tiny-slider.css" />
    <link rel="stylesheet" media="screen" href="~/vendor/nouislider/dist/nouislider.min.css" />
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="~/css/theme.min.css">

</head>
<!-- Body-->
<body>


    <div class="page-loading active">
        <div class="page-loading-inner">
            <div class="page-spinner"></div><span>Loading...</span>
        </div>
    </div>
    <main class="page-wrapper">
        <!-- Sign In Modal-->
        <div class="modal fade" id="signin-modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered p-2 my-0 mx-auto" style="max-width: 950px;">
                <div class="modal-content">
                    <div class="modal-body px-0 py-2 py-sm-0">
                        <button class="btn-close position-absolute top-0 end-0 mt-3 me-3" type="button" data-bs-dismiss="modal"></button>
                        <div class="row mx-0 align-items-center">
                            <div class="col-md-6 border-end-md p-4 p-sm-5">
                                <h2 class="h3 mb-4 mb-sm-5">Hey there!<br>Welcome back.</h2><img class="d-block mx-auto" src="~/img/signin-modal/signin.svg" width="344" alt="Illustartion">
                                <div class="mt-4 mt-sm-5">Don't have an account? <a href="#signup-modal" data-bs-toggle="modal" data-bs-dismiss="modal">Sign up here</a></div>
                            </div>
                            <div class="col-md-6 px-4 pt-2 pb-4 px-sm-5 pb-sm-5 pt-md-5">
                                <a class="btn btn-outline-info w-100 rounded-pill mb-3" href="#"><i class="fi-google fs-lg me-1"></i>Sign in with Google</a><a class="btn btn-outline-info w-100 rounded-pill mb-3" href="#"><i class="fi-facebook fs-lg me-1"></i>Sign in with Facebook</a>
                                <div class="d-flex align-items-center py-3 mb-3">
                                    <hr class="w-100">
                                    <div class="px-3">Or</div>
                                    <hr class="w-100">
                                </div>
                                <form class="needs-validation" novalidate>
                                    <div class="mb-4">
                                        <label class="form-label mb-2" for="signin-email">Email address</label>
                                        <input class="form-control" type="email" id="signin-email" placeholder="Enter your email" required>
                                    </div>
                                    <div class="mb-4">
                                        <div class="d-flex align-items-center justify-content-between mb-2">
                                            <label class="form-label mb-0" for="signin-password">Password</label><a class="fs-sm" href="#">Forgot password?</a>
                                        </div>
                                        <div class="password-toggle">
                                            <input class="form-control" type="password" id="signin-password" placeholder="Enter password" required>
                                            <label class="password-toggle-btn" aria-label="Show/hide password">
                                                <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-lg w-100 rounded-pill" type="submit">Sign in</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sign Up Modal-->
        <div class="modal fade" id="signup-modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered p-2 my-0 mx-auto" style="max-width: 734px;">
                <div class="modal-content">
                    <div class="modal-body p-sm-5">
                        <button class="btn-close position-absolute top-0 end-0 mt-3 me-3" type="button" data-bs-dismiss="modal"></button>
                        <ul class="nav nav-pills flex-column flex-sm-row border-bottom pb-4 mt-sm-n2 my-4" role="tablist">
                            <li class="nav-item me-sm-3 mb-sm-0"><a class="nav-link active" href="#job-seeker" data-bs-toggle="tab" role="tab" aria-controls="job-seeker" aria-selected="true"><i class="fi-user me-2"></i>I am job seeker</a></li>
                            <li class="nav-item mb-sm-0"><a class="nav-link" href="#employer" data-bs-toggle="tab" role="tab" aria-controls="employer" aria-selected="false"><i class="fi-briefcase me-2"></i>I am employer</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="job-seeker" role="tabpanel">
                                <h3>Register to add a resume</h3>
                                <p class="pb-3">Get access to all the functions of the site that will help you find a great job.</p>

                                <form class="needs-validation" novalidate>
                                    <div class="row gx-2 gx-md-4">
                                        <div class="col-sm-6 mb-4">
                                            <label class="form-label" for="js-fn">Full name</label>
                                            <input class="form-control" type="text" id="js-fn" placeholder="Enter your full name" required>
                                        </div>
                                        <div class="col-sm-6 mb-4">
                                            <label class="form-label" for="js-email">Emaill address</label>
                                            <input class="form-control" type="email" id="js-email" placeholder="Enter your email" required>
                                        </div>
                                        <div class="col-sm-6 mb-4">
                                            <label class="form-label" for="js-password">Password <span class='text-muted'>(min. 8 char)</span></label>
                                            <div class="password-toggle">
                                                <input class="form-control" type="password" id="js-password" minlength="8" required>
                                                <label class="password-toggle-btn" aria-label="Show/hide password">
                                                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 mb-4">
                                            <label class="form-label" for="js-password-confirm">Confirm password</label>
                                            <div class="password-toggle">
                                                <input class="form-control" type="password" id="js-password-confirm" minlength="8" required>
                                                <label class="password-toggle-btn" aria-label="Show/hide password">
                                                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-check mb-4">
                                        <input class="form-check-input" type="checkbox" id="agree-to-terms" required>
                                        <label class="form-check-label" for="agree-to-terms">By joining, I agree to the <a href='#'>Terms of use</a> and <a href='#'>Privacy policy</a></label>
                                    </div>
                                    <button class="btn btn-primary btn-lg w-100 rounded-pill" type="submit">Sign up</button>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="employer" role="tabpanel">
                                <h3>Register to post a vacancy</h3>
                                <p class="pb-3">Get access to all special services for employers on NSIA.</p>
                                <form class="needs-validation" novalidate>
                                    <div class="row gx-2 gx-md-4">
                                        <div class="col-sm-6 mb-4">
                                            <label class="form-label" for="em-fn">Full name</label>
                                            <input class="form-control" type="text" id="em-fn" placeholder="Enter your full name" required>
                                        </div>
                                        <div class="col-sm-6 mb-4">
                                            <label class="form-label" for="em-email">Emaill <span class='text-muted'>(better corporate)</span></label>
                                            <input class="form-control" type="email" id="em-email" placeholder="Enter email" required>
                                        </div>
                                        <div class="col-sm-6 mb-4">
                                            <label class="form-label" for="em-company">Company name</label>
                                            <input class="form-control" type="text" id="em-company" placeholder="Enter company name" required>
                                        </div>
                                        <div class="col-sm-6 mb-4">
                                            <label class="form-label" for="em-location">Main office location</label>
                                            <input class="form-control" type="text" id="em-location" placeholder="Country, City, Address" required>
                                        </div>
                                        <div class="col-sm-6 mb-4">
                                            <label class="form-label" for="em-password">Password <span class='text-muted'>(min. 8 char)</span></label>
                                            <div class="password-toggle">
                                                <input class="form-control" type="password" id="em-password" minlength="8" required>
                                                <label class="password-toggle-btn" aria-label="Show/hide password">
                                                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 mb-4">
                                            <label class="form-label" for="em-password-confirm">Confirm password</label>
                                            <div class="password-toggle">
                                                <input class="form-control" type="password" id="em-password-confirm" minlength="8" required>
                                                <label class="password-toggle-btn" aria-label="Show/hide password">
                                                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-check mb-4">
                                        <input class="form-check-input" type="checkbox" id="agree-to-terms2" required>
                                        <label class="form-check-label" for="agree-to-terms2">By joining, I agree to the <a href='#'>Terms of use</a> and <a href='#'>Privacy policy</a></label>
                                    </div>
                                    <button class="btn btn-primary btn-lg w-100 rounded-pill" type="submit">Sign up</button>
                                </form>
                            </div>
                        </div>
                        <div class="pt-4 pb-3 pb-sm-0 mt-2">Already have an account? <a href="#signin-modal" data-bs-toggle="modal" data-bs-dismiss="modal">Sign in</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar-->
        <header class="navbar navbar-expand-lg navbar-dark bg-blue fixed-top" data-scroll-header>
            <div class="container">
                <a class="navbar-brand me-0 me-xl-4" href="@Url.Action("Index","Home")"><img class="d-block" src="~/assets/logo2.png" width="120" alt="HRPortal"></a>

                @if (User.Identity.IsAuthenticated)
                {
                    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button><a class="btn btn-link btn-light btn-sm d-none d-lg-block order-lg-3" href="@Url.Action("Index","Dashboard")"><i class="fi-user me-2"></i>Welcome @User.Identity.Name !!!</a>

                }
                else
                {
                    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button><a class="btn btn-link btn-light btn-sm d-none d-lg-block order-lg-3" href="/Identity/Account/Login"><i class="fi-user me-2"></i>Sign in</a>

                }


                <div class="collapse navbar-collapse order-lg-2" id="navbarNav">
                    <ul class="navbar-nav navbar-nav-scroll" style="max-height: 35rem;">

                        <li class="nav-item active">
                            <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Home</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="@Url.Action("Index", "Catalog")" role="button">Jobs</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/Identity/Account/Login" role="button">Account</a>

                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item d-lg-none"><a class="nav-link" href="@Url.Action("Index","Dashboard")"><i class="fi-user me-2"></i>Welcome  @User.Identity.Name !!!</a></li>

                        }
                        else
                        {
                            <li class="nav-item d-lg-none"><a class="nav-link" href="/Identity/Account/Login"><i class="fi-user me-2"></i>Sign in</a></li>
                        }
                    </ul>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <!-- Hero-->
        <section class="bg-blue pb-4 pt-5">
            <div class="container py-5">
                <div class="row align-items-center mt-2 mt-md-0 pt-md-4 pt-lg-5 pb-5">
                    <div class="col-md-5 order-md-2 mb-5 mb-md-0">
                        <div class="parallax mx-auto" style="max-width: 526px;">
                            <div class="parallax-layer position-relative" data-depth="0.1"><img src="~/img/job-board/hero-banner-1/layer01.svg" alt="Layer"></div>
                            <div class="parallax-layer" data-depth="0.16"><img src="~/img/job-board/hero-banner-1/layer02.svg" alt="Layer"></div>
                            <div class="parallax-layer" data-depth="0.38"><img src="~/img/job-board/hero-banner-1/layer03.svg" alt="Layer"></div>
                            <div class="parallax-layer" data-depth="0.16"><img src="~/img/job-board/hero-banner-1/layer04.svg" alt="Layer"></div>
                            <div class="parallax-layer" data-depth="0.16"><img src="~/img/job-board/hero-banner-1/layer05.svg" alt="Layer"></div>
                            <div class="parallax-layer" data-depth="0.45"><img src="~/img/job-board/hero-banner-1/layer06.svg" alt="Layer"></div>
                            <div class="parallax-layer" data-depth="0.3"><img src="~/img/job-board/hero-banner-1/layer07.svg" alt="Layer"></div>
                            <div class="parallax-layer" data-depth="0.2"><img src="~/img/job-board/hero-banner-1/layer08.svg" alt="Layer"></div>
                        </div>
                    </div>
                    <div class="col-md-7 order-md-1">
                        <h1 class="display-4 text-light pb-2 mb-4 mb-lg-5" style="max-width: 29.5rem;">Find the right job vacancies in NSIA.</h1>

                    </div>
                </div>

            </div>
        </section>
        <!-- Categories-->
        <section class="position-relative bg-white rounded-xxl-4 pt-md-3 zindex-5" style="margin-top: -30px;">
            <div class="container pt-5 pb-2 mb-4 mb-md-5">
                <h2 class="h3 pb-2 pb-sm-3">Jobs by category</h2>
                <div class="d-flex flex-wrap flex-column flex-sm-row" style="text-align:justify;">
                    <a class="icon-box card flex-row align-items-center flex-shrink-0 card-hover border-0 bg-secondary rounded-pill py-2 ps-2 pe-4 mb-2 mb-sm-3 me-sm-3 me-xxl-4" href="@Url.Action("Index", "Catalog")">
                        <div class="icon-box-media bg-light text-primary rounded-circle me-2"><i class="fi-accounting"></i></div>
                        <h3 class="icon-box-title fs-sm ps-1 pe-2 mb-0">Admin & General Services</h3>
                    </a><a class="icon-box card flex-row align-items-center flex-shrink-0 card-hover border-0 bg-secondary rounded-pill py-2 ps-2 pe-4 mb-2 mb-sm-3 me-sm-3 me-xxl-4" href="@Url.Action("Index", "Catalog")">
                        <div class="icon-box-media bg-light text-primary rounded-circle me-2"><i class="fi-pie-chart"></i></div>
                        <h3 class="icon-box-title fs-sm ps-1 pe-2 mb-0">Brand & Corporate Communication</h3>
                    </a>
                    <a class="icon-box card flex-row align-items-center flex-shrink-0 card-hover border-0 bg-secondary rounded-pill py-2 ps-2 pe-4 mb-2 mb-sm-3 me-sm-3 me-xxl-4" href="@Url.Action("Index", "Catalog")">
                        <div class="icon-box-media bg-light text-primary rounded-circle me-2"><i class="fi-meds"></i></div>
                        <h3 class="icon-box-title fs-sm ps-1 pe-2 mb-0">Customer Service</h3>
                    </a><a class="icon-box card flex-row align-items-center flex-shrink-0 card-hover border-0 bg-secondary rounded-pill py-2 ps-2 pe-4 mb-2 mb-sm-3 me-sm-3 me-xxl-4" href="@Url.Action("Index", "Catalog")">
                        <div class="icon-box-media bg-light text-primary rounded-circle me-2"><i class="fi-plant"></i></div>
                        <h3 class="icon-box-title fs-sm ps-1 pe-2 mb-0">Finance</h3>
                    </a>
                    <a class="icon-box card flex-row align-items-center flex-shrink-0 card-hover border-0 bg-secondary rounded-pill py-2 ps-2 pe-4 mb-2 mb-sm-3 me-sm-3 me-xxl-4" href="@Url.Action("Index", "Catalog")">
                        <div class="icon-box-media bg-light text-primary rounded-circle me-2"><i class="fi-computer"></i></div>
                        <h3 class="icon-box-title fs-sm ps-1 pe-2 mb-0">Human Capital Management</h3>
                    </a>

                    <a class="icon-box card flex-row align-items-center flex-shrink-0 card-hover border-0 bg-secondary rounded-pill py-2 ps-2 pe-4 mb-2 mb-sm-3 me-sm-3 me-xxl-4" href="@Url.Action("Index", "Catalog")">
                        <div class="icon-box-media bg-light text-primary rounded-circle me-2"><i class="fi-computer"></i></div>
                        <h3 class="icon-box-title fs-sm ps-1 pe-2 mb-0">Information Technology</h3>
                    </a>

                    <a class="icon-box card flex-row align-items-center flex-shrink-0 card-hover border-0 bg-secondary rounded-pill py-2 ps-2 pe-4 mb-2 mb-sm-3 me-sm-3 me-xxl-4" href="@Url.Action("Index", "Catalog")">
                        <div class="icon-box-media bg-light text-primary rounded-circle me-2"><i class="fi-computer"></i></div>
                        <h3 class="icon-box-title fs-sm ps-1 pe-2 mb-0">Internal Audit</h3>
                    </a>

                    <a class="icon-box card flex-row align-items-center flex-shrink-0 card-hover border-0 bg-secondary rounded-pill py-2 ps-2 pe-4 mb-2 mb-sm-3 me-sm-3 me-xxl-4" href="@Url.Action("Index", "Catalog")">
                        <div class="icon-box-media bg-light text-primary rounded-circle me-2"><i class="fi-computer"></i></div>
                        <h3 class="icon-box-title fs-sm ps-1 pe-2 mb-0">Internal Control</h3>
                    </a>

                    <a class="icon-box card flex-row align-items-center flex-shrink-0 card-hover border-0 bg-secondary rounded-pill py-2 ps-2 pe-4 mb-2 mb-sm-3 me-sm-3 me-xxl-4" href="@Url.Action("Index", "Catalog")">
                        <div class="icon-box-media bg-light text-primary rounded-circle me-2"><i class="fi-computer"></i></div>
                        <h3 class="icon-box-title fs-sm ps-1 pe-2 mb-0">Legal & Compliance</h3>
                    </a>

                    <a class="icon-box card flex-row align-items-center flex-shrink-0 card-hover border-0 bg-secondary rounded-pill py-2 ps-2 pe-4 mb-2 mb-sm-3 me-sm-3 me-xxl-4" href="@Url.Action("Index", "Catalog")">
                        <div class="icon-box-media bg-light text-primary rounded-circle me-2"><i class="fi-computer"></i></div>
                        <h3 class="icon-box-title fs-sm ps-1 pe-2 mb-0">Sales & Marketing </h3>
                    </a>

                    <a class="icon-box card flex-row align-items-center flex-shrink-0 card-hover border-0 bg-secondary rounded-pill py-2 ps-2 pe-4 mb-2 mb-sm-3 me-sm-3 me-xxl-4" href="@Url.Action("Index", "Catalog")">
                        <div class="icon-box-media bg-light text-primary rounded-circle me-2"><i class="fi-computer"></i></div>
                        <h3 class="icon-box-title fs-sm ps-1 pe-2 mb-0">Strategy & Business Analysis  </h3>
                    </a>

                    <a class="icon-box card flex-row align-items-center flex-shrink-0 card-hover border-0 bg-secondary rounded-pill py-2 ps-2 pe-4 mb-2 mb-sm-3 me-sm-3 me-xxl-4" href="@Url.Action("Index", "Catalog")">
                        <div class="icon-box-media bg-light text-primary rounded-circle me-2"><i class="fi-computer"></i></div>
                        <h3 class="icon-box-title fs-sm ps-1 pe-2 mb-0">Technical (Underwriting, Claims, Survey, Reinsurance)  </h3>
                    </a>


                </div>
            </div>
        </section>

        <!-- Jobs list + Post resume CTA-->
        <section class="container pb-5 mb-md-4" style="margin-top: -30px;">
            <div class="row">
                <div class="col-md-8 mb-3 mb-md-0">
                    <div class="d-sm-flex align-items-center justify-content-between pb-4 mb-sm-2">
                        <h2 class="h3 mb-sm-0">Jobs of the day</h2><a class="btn btn-link fw-normal p-0" href="@Url.Action("Index","Catalog")">View all<i class="fi-arrow-long-right ms-2"></i></a>
                    </div>
                    <!-- Accordion-->
                    <div id="accordionJobs">
                        @if (Model == null)
                        {

                        }
                        else
                        {
                            foreach (var item in Model)
                            {

                                <div class="card bg-secondary collapsed mb-2">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between mb-2">
                                            <div class="d-flex align-items-center"><img class="me-2" src="~/assets/logo.png" width="50" alt="IT Pro Logo"><span class="fs-sm text-dark opacity-80 ps-1">@item.JobCode</span></div><span class="badge bg-faded-danger rounded-pill fs-sm">Hot</span>
                                        </div>
                                        <h3 class="h6 card-title pt-1 mb-0">@item.JobTitle</h3>
                                    </div>
                                    <div>
                                        <div class="card-body mt-n1 pt-0">
                                            <p class="fs-sm" style="text-align:justify;">
                                                @item.JobObjectives <br /><br /><a href="/Catalog/JobDetail/@item.Id">Read more...</a>
                                            </p>
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="fs-sm">
                                                    <span class="text-nowrap me-3"><i class="fi-map-pin text-muted me-1"> </i>@item.Location</span><span class="text-nowrap me-3">
                                                        <i class="fi-cash fs-base text-muted me-1"></i>@item.EndDate.Value.ToLongDateString()  - @item.StartDate.Value.ToLongDateString()
                                                    </span>
                                                </div>
                                                <button class="btn btn-icon btn-light btn-xs text-primary shadow-sm rounded-circle" type="button" data-bs-toggle="tooltip" title="Add to saved jobs"><i class="fi-heart"></i></button>
                                            </div>
                                            <br />

                                            <a class="btn btn-primary" href="/Catalog/JobDetail/@item.Id">View Job Post</a>

                                        </div>
                                    </div>
                                </div>

                            }
                        }

                    </div>
                </div>
                <div class="col-md-1">
                    <hr class="hr-vertical mx-auto">
                </div>
                <div class="col-md-3 text-center text-md-start">
                    <img class="d-block mx-auto mb-4" src="~/img/job-board/illustrations/post-resume-cta2.svg" width="416" alt="Illustration">
                    <h2 class="h3 pt-2 mb-4">Find your dream career</h2>
                    <p class="pb-md-3">
                        Sign up as a Job Seeker, it's
                        quick and easy!
                    </p><a class="btn btn-primary btn-lg rounded-pill ms-sm-auto" href="/Identity/Account/Register">Register<i class="fi-chevron-right fs-sm ms-2"></i></a>
                </div>
            </div>
        </section>



    </main>
    <!-- Footer-->
    <footer class="footer bg-blue pt-5">
        <div class="container pb-2">
            <div class="row align-items-center pb-4">


            </div>
            <!-- Copyright-->
            <p class="fs-sm text-center text-sm-start mb-4"><span class="text-light opacity-50">&copy; All rights reserved. Made by </span><a class="nav-link-light fw-bold" href="https://nsiainsurance.com/" target="_blank" rel="noopener" style="text-align:center;">NSIA INSURANCE LIMITED</a></p>
        </div>
    </footer>
    <!-- Back to top button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon fi-chevron-up">   </i></a>
    <!-- Vendor scrits: js libraries and plugins-->
    <script src="~/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="~/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="~/vendor/tiny-slider/dist/min/tiny-slider.js"></script>
    <script src="~/vendor/parallax-js/dist/parallax.min.js"></script>
    <script src="~/vendor/nouislider/dist/nouislider.min.js"></script>
    <!-- Main theme script-->
    <script src="~/js/theme.min.js"></script>
</body>

</html>

