@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>NSIA Insurance - Job Portal</title>

    <!-- All Plugins Css -->
    <link href="~/assets/css/plugins.css" rel="stylesheet">


    <!-- Custom CSS -->
    <link href="~/assets/css/styles.css" rel="stylesheet">

    <!-- Custom Color -->
    <link href="~/assets/css/skin/default.css" rel="stylesheet">
</head>

<body class="green-skin bg-light">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="Loader"></div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- Start Navigation -->
        <div class="header header-light">
            <div class="container-fluid">
                <nav id="navigation" class="navigation navigation-landscape">
                    <div class="nav-header">
                        <a class="nav-brand" href="#">
                            <img src="~/assets/img/nsia_3.png" class="logo" alt="" />
                        </a>
                        <div class="nav-toggle"></div>
                    </div>
                    <div class="nav-menus-wrapper" style="transition-property: none;">
                        <ul class="nav-menu">

                            <li class="active">
                                <a href="#">Home</a>

                            </li>

                            <li>
                                <a href="#">For Candidates<span class="submenu-indicator"></span></a>

                            </li>

                            <li>
                                <a href="#">For Employers<span class="submenu-indicator"></span></a>

                            </li>

                            <li>
                                <a href="#">Pages<span class="submenu-indicator"></span></a>

                            </li>

                            <li><a href="#">Contacts</a></li>

                        </ul>

                        <ul class="nav-menu nav-menu-social align-to-right">

                            <li class="add-listing theme-bg">
                                <a href="/Identity/Account/Login">
                                    <i class="ti-user mr-1"></i><span class="dn-lg">Login/Register</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- End Navigation -->
        <div class="clearfix"></div>

        <div class="page-title-wrap pt-img-wrap" style="background:url(../../assets/img/banner-4.jpg) no-repeat;">
            <div class="container">
                <div class="col-lg-12 col-md-12">
                    <div class="pt-caption text-center">
                        <h1>Sign In Your Account</h1>
                        <p><a href="#">Home</a><span class="current-page">Log In</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <section>
            <div class="container">

                <div class="row justify-content-center">
                    <p style="text-align:center; color:green;">@TempData["success"]</p> <br />
                    <div class="col-lg-7 col-md-7 col-sm-12">
                        <div class="modal-body">
                            <h4 class="modal-header-title">Welcome <span>Back</span></h4>


                            <div class="login-form">
                                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

                                    <div class="form-group">
                                        <label>Email Address</label>
                                        <div class="input-with-gray">
                                            <input type="email" class="form-control" asp-for="Input.Email" placeholder="Email">
                                            <i class="ti-user"></i>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Phone Number</label>
                                        <div class="input-with-gray">
                                            <input type="number" class="form-control" asp-for="Input.PhoneNumber" placeholder="PhoneNumber">
                                            <i class="ti-user"></i>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Password</label>
                                        <div class="input-with-gray">
                                            <input type="password" class="form-control" asp-for="Input.Password" placeholder="*******">
                                            <i class="ti-unlock"></i>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Confirm Password</label>
                                        <div class="input-with-gray">
                                            <input type="password" class="form-control" asp-for="Input.ConfirmPassword" placeholder="*******">
                                            <i class="ti-unlock"></i>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-md full-width pop-login">Register</button>
                                    </div>
                                    <div class="text-center">
                                        <a href="/Identity/Account/Login">Already have an account? Click to login</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <div class="clearfix"></div>
        <!-- ============================ Who We Are End ================================== -->
        <!-- ============================ Newsletter Start ================================== -->
        <section class="alert-wrap pt-5 pb-5" style="background: #00a94f url(../../assets/img/bg2.png);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="jobalert-sec">
                            <h3 class="mb-1 text-light">Get New Jobs Notification!</h3>
                            <p class="text-light">Subscribe & get all related jobs notification.</p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter Your Email">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-black black">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ============================ Newsletter Start ================================== -->
        <!-- ============================ Footer Start ================================== -->
        <footer class="dark-footer skin-dark-footer">
            <div>
                <div class="container">
                    <div class="row">

                        <div class="col-lg-4 col-md-4">
                            <div class="footer-widget">
                                <img src="~/assets/img/nsia_1.png" class="img-footer" alt="" />
                                <div class="footer-add">
                                    <p>3 Elsie Femi Pearse Victoria Island,</br>Lagos.</p>
                                    <p><strong>Email:</strong></br><a href="#">enquiries@nsiainsurance.com</a></p>
                                    <p><strong>Call:</strong></br>91 855 742 62548</p>
                                </div>

                            </div>
                        </div>


                        <div class="col-lg-4 col-md-4">
                            <div class="footer-widget">
                                <h4 class="widget-title">My Account</h4>
                                <ul class="footer-menu">
                                    <li><a href="#">Dashboard</a></li>
                                    <li><a href="#">Applications</a></li>
                                    <li><a href="#">Packages</a></li>
                                    <li><a href="#">resume.html</a></li>
                                    <li><a href="#">SignUp Page</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4">
                            <div class="footer-widget">
                                <h4 class="widget-title">Download Apps</h4>
                                <a href="#" class="other-store-link">
                                    <div class="other-store-app">
                                        <div class="os-app-icon">
                                            <i class="ti-android theme-cl"></i>
                                        </div>
                                        <div class="os-app-caps">
                                            Google Play
                                            <span>Get It Now</span>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="other-store-link">
                                    <div class="other-store-app">
                                        <div class="os-app-icon">
                                            <i class="ti-apple theme-cl"></i>
                                        </div>
                                        <div class="os-app-caps">
                                            App Store
                                            <span>Now it Available</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-lg-6 col-md-6">
                            <p class="mb-0">© @DateTime.UtcNow.Year NSIA Insurance.  All Rights Reserved</p>
                        </div>

                        <div class="col-lg-6 col-md-6 text-right">
                            <ul class="footer-bottom-social">
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter"></i></a></li>
                                <li><a href="#"><i class="ti-instagram"></i></a></li>
                                <li><a href="#"><i class="ti-linkedin"></i></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </footer>


    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/select2.min.js"></script>
    <script src="~/assets/js/aos.js"></script>
    <script src="~/assets/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/jquery.counterup.min.js"></script>
    <script src="~/assets/js/slick.js"></script>
    <script src="~/assets/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/js/isotope.min.js"></script>
    <script src="~/assets/js/summernote.js"></script>
    <script src="~/assets/js/jQuery.style.switcher.js"></script>
    <script src="~/assets/js/counterup.min.js"></script>
    <script src="~/assets/js/custom.js"></script>


</body>

</html>

@*<h1>@ViewData["Title"]</h1>

    <div class="row">
        <div class="col-md-4">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Use another service to register.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }*@
