<!doctype html>
<html lang="en">


<head>
    <!-- Basic Page Needs
    ================================================== -->
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="~/assets/plugins/css/plugins.css">
    <link href="~/assets/css/style.css" rel="stylesheet">

</head>

<body>
    <div class="Loader"></div>
    <div class="wrapper">

        <!-- Start Navigation -->
        <nav class="navbar navbar-default navbar-fixed navbar-light white bootsnav">

            <div class="container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <img src="~/assets/img" class="logo logo-scrolled" alt="">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-left" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="dropdown">
                            <a href="login.html" class="dropdown-toggle" data-toggle="dropdown">Home</a>

                        </li>
                        <li class="dropdown">
                            <a href="login.html" class="dropdown-toggle" data-toggle="dropdown">Jobs</a>

                        </li>

                    </ul>

                </div><!-- /.navbar-collapse -->
            </div>
        </nav>
        <!-- End Navigation -->
        <div class="clearfix"></div>

        <div class="clearfix"></div>

        <!-- General Detail Start -->
        <section class="dashboard-wrap">
            <div class="container-fluid">
                <div class="row">

                    <!-- Sidebar Wrap -->
                    <div class="col-lg-3 col-md-4">
                        <div class="side-dashboard">

                            <div class="dashboard-avatar">

                                <div class="dashboard-avatar-thumb">
                                    <img src="~/assets/img/can-2.png" class="img-avater" alt="" />
                                </div>

                                <div class="dashboard-avatar-text">
                                    <h4>Shaurya Preet</h4>
                                    <span>Zivara Technoloty</span>
                                </div>

                            </div>

                            <div class="dashboard-menu">
                                <ul>
                                    <li><a href="dashboard.html"><i class="ti-dashboard"></i>Dashboard</a></li>
                                    <li class="active"><a href="@Url.Action("PostJob", "HRDashboard")"><i class="ti-ruler-pencil"></i>Post New Job</a></li>
                                    <li><a href="@Url.Action("AllJobs", "HRDashboard")"><i class="ti-briefcase"></i>All Jobs</a></li>
                                    <li><a href="@Url.Action("Applications", "HRDashboard")"><i class="ti-user"></i>Applications</a></li>
                                    <li><a href="@Url.Action("ViewedResumet", "HRDashboard")"><i class="ti-flag-alt-2"></i>Viewed Resume</a></li>
                                    <li><a href="@Url.Action("Profile", "HRDashboard")"><i class="ti-id-badge"></i>Edit Profile</a></li>
                                    <li><a href="/Identity/Account/Logout"><i class="ti-power-off"></i>Logout</a></li>
                                </ul>
                                @*<h4>For Candidate</h4>
                                <ul>
                                    <li><a href="candidate-dashboard.html"><i class="ti-dashboard"></i>Candidate Dashboard</a></li>
                                    <li><a href="candidate-resume.html"><i class="ti-wallet"></i>My Resume</a></li>
                                    <li><a href="applied-jobs.html"><i class="ti-hand-point-right"></i>Applied Jobs</a></li>
                                    <li><a href="saved-jobs.html"><i class="ti-heart"></i>Saved Jobs</a></li>
                                    <li><a href="alert-jobs.html"><i class="ti-bell"></i>Alert Jobs</a></li>
                                </ul>*@
                            </div>
                        </div>
                    </div>

                    @RenderBody()

                </div>
            </div>
        </section>

        <footer class="dark-footer skin-dark-footer">

            <div class="footer-bottom">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-lg-6 col-md-6">
                            <p class="mb-0">© 2020 Job Stock. Designd By <a href="https://themezhub.com/">Themez Hub</a> All Rights Reserved</p>
                        </div>

                        <div class="col-lg-6 col-md-6 text-right">
                            <ul class="footer-bottom-social">
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter"></i></a></li>
                                <li><a href="#"><i class="ti-instagram"></i></a></li>
                                <li><a href="#"><i class="ti-linkedin"></i></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </footer>

        <script type="text/javascript" src="~/assets/plugins/js/jquery.min.js"></script>
        <script type="text/javascript" src="~/assets/plugins/js/viewportchecker.js"></script>
        <script type="text/javascript" src="~/assets/plugins/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/assets/plugins/js/bootsnav.js"></script>
        <script type="text/javascript" src="~/assets/plugins/js/select2.min.js"></script>
        <script type="text/javascript" src="~/assets/plugins/js/wysihtml5-0.3.0.js"></script>
        <script type="text/javascript" src="~/assets/plugins/js/bootstrap-wysihtml5.js"></script>
        <script type="text/javascript" src="~/assets/plugins/js/datedropper.min.js"></script>
        <script type="text/javascript" src="~/assets/plugins/js/dropzone.js"></script>
        <script type="text/javascript" src="~/assets/plugins/js/loader.js"></script>
        <script type="text/javascript" src="~/assets/plugins/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="~/assets/plugins/js/slick.min.js"></script>
        <script type="text/javascript" src="~/assets/plugins/js/gmap3.min.js"></script>
        <script type="text/javascript" src="~/assets/plugins/js/jquery.easy-autocomplete.min.js"></script>
        <!-- Custom Js -->
        <script src="~/assets/js/custom.js"></script>
        <script type="text/javascript" src="~/assets/plugins/js/counterup.min.js"></script>

        <script>
            $('#company-dob').dateDropper();
        </script>
    </div>
</body>
</html>