@model HRPortal.Web.Models.JobDetailViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <title>NSIA Recruitment Portal</title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="NSIA - Directory &amp; Listings Bootstrap Template">
    <meta name="keywords" content="bootstrap, business, directory, listings, e-commerce, car dealer, city guide, real estate, job board, user account, multipurpose, ui kit, html5, css3, javascript, gallery, slider, touch">
    <meta name="author" content="Createx Studio">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    @*<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
        <link rel="manifest" href="site.webmanifest">
        <link rel="mask-icon" color="#5bbad5" href="safari-pinned-tab.svg">*@
    <meta name="msapplication-TileColor" content="#766df4">
    <meta name="theme-color" content="#ffffff">
    <!-- Page loading styles-->
    <style>
        .page-loading {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -webkit-transition: all .4s .2s ease-in-out;
            transition: all .4s .2s ease-in-out;
            background-color: #fff;
            opacity: 0;
            visibility: hidden;
            z-index: 9999;
        }

            .page-loading.active {
                opacity: 1;
                visibility: visible;
            }

        .page-loading-inner {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            text-align: center;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            -webkit-transition: opacity .2s ease-in-out;
            transition: opacity .2s ease-in-out;
            opacity: 0;
        }

        .page-loading.active > .page-loading-inner {
            opacity: 1;
        }

        .page-loading-inner > span {
            display: block;
            font-size: 1rem;
            font-weight: normal;
            color: #666276;
            ;
        }

        .page-spinner {
            display: inline-block;
            width: 2.75rem;
            height: 2.75rem;
            margin-bottom: .75rem;
            vertical-align: text-bottom;
            border: .15em solid #bbb7c5;
            border-right-color: transparent;
            border-radius: 50%;
            -webkit-animation: spinner .75s linear infinite;
            animation: spinner .75s linear infinite;
        }

        @@-webkit-keyframes spinner {
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @@keyframes spinner {
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
    </style>
    <!-- Page loading scripts-->
    <script>
        (function () {
            window.onload = function () {
                var preloader = document.querySelector('.page-loading');
                preloader.classList.remove('active');
                setTimeout(function () {
                    preloader.remove();
                }, 2000);
            };
        })();

    </script>
    <!-- Vendor Styles-->
    <link rel="stylesheet" media="screen" href="~/vendor/simplebar/dist/simplebar.min.css" />
    <link rel="stylesheet" media="screen" href="~/vendor/tiny-slider/dist/tiny-slider.css" />
    <link rel="stylesheet" media="screen" href="~/vendor/nouislider/dist/nouislider.min.css" />
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="~/css/theme.min.css">

</head>
<!-- Body-->
<body>


    <div class="page-loading active">
        <div class="page-loading-inner">
            <div class="page-spinner"></div><span>Loading...</span>
        </div>
    </div>
    <main class="page-wrapper">

        
        <header class="navbar navbar-expand-lg navbar-dark bg-blue fixed-top" data-scroll-header>
            <div class="container">
                <a class="navbar-brand me-0 me-xl-4" href="@Url.Action("Index","Home")"><img class="d-block" src="~/assets/logo2.png" width="120" alt="HRPortal"></a>

                @if (User.Identity.IsAuthenticated)
                {
                    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button><a class="btn btn-link btn-light btn-sm d-none d-lg-block order-lg-3" href="@Url.Action("Index","Dashboard")"><i class="fi-user me-2"></i>Welcome @User.Identity.Name !!!</a>

                }
                else
                {
                    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button><a class="btn btn-link btn-light btn-sm d-none d-lg-block order-lg-3" href="/Identity/Account/Login"><i class="fi-user me-2"></i>Sign in</a>

                }


                <div class="collapse navbar-collapse order-lg-2" id="navbarNav">
                    <ul class="navbar-nav navbar-nav-scroll" style="max-height: 35rem;">

                        <li class="nav-item active">
                            <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Home</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="@Url.Action("Index", "Catalog")" role="button">Available Jobs</a>

                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link " href="/Identity/Account/Login" role="button">Account</a>

                        </li>*@

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item d-lg-none"><a class="nav-link" href="@Url.Action("Index","Dashboard")"><i class="fi-user me-2"></i>Welcome  @User.Identity.Name !!!</a></li>

                        }
                        else
                        {
                            <li class="nav-item d-lg-none"><a class="nav-link" href="/Identity/Account/Login"><i class="fi-user me-2"></i>Sign in</a></li>
                        }
                    </ul>
                </div>
            </div>
        </header>

        <section class="bg-blue pt-5">
            <div class="container py-5">
                <h1 class="text-light pt-1 pt-md-3 mb-4">Available jobs</h1>

            </div>
        </section>
        <!-- Page content-->
        <section class="position-relative bg-white rounded-xxl-4 zindex-5" style="margin-top: -30px;">
            <div class="container pt-4 pb-5 mb-md-4">
                <!-- Breadcrumb-->
                <nav class="pb-4 my-2" aria-label="Breadcrumb">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                        @*<li class="breadcrumb-item"><a href="@Url.Action("Catalog", "Index")">Find jobs</a></li>*@
                        <li class="breadcrumb-item active" aria-current="page">Job Category</li>
                    </ol>
                </nav>
                <div class="row">
                    @if (Model == null)
                    {

                    }
                    else
                    {
                        <div class="col-lg-7 position-relative pe-lg-5 mb-5 mb-lg-0" style="z-index: 1025;">
                            <div class="d-flex justify-content-between mb-2">
                                <h2 class="h3 mb-0">@Model.Vacancy.JobTitle</h2>
                                <div class="text-end">
                                    <span class="badge bg-faded-accent rounded-pill fs-sm mb-2">@Model.Vacancy.JobCode</span>
                                    <div class="fs-sm text-muted">@Model.Vacancy.Datecreated.Value.ToLongDateString()</div>
                                </div>
                            </div>
                            <ul class="list-unstyled fs-sm mb-4">
                                <li class="mb-2"><a class="d-flex align-items-center text-decoration-none" href="job-board-employer-single.html"><i class="fi-external-link me-2"></i><span class="text-decoration-underline">NSIA INSURANCE</span></a></li>
                                <li class="d-flex align-items-center mb-2"><i class="fi-clock text-muted me-2"></i><span class="me-2">@Model.Vacancy.ContractType</span></li>
                            </ul>
                            <hr class="mb-4">
                            <h3 class="h6">Company Summary:</h3>
                            <p style="text-align:justify">@Model.Summary.CompanySummary</p>

                            <h3 class="h6 pt-2">Requirements:</h3>
                            <ul class="list-unstyled" style="text-align:justify">
                                @Model.Vacancy.RelevantRequirement

                            </ul>
                            <h3 class="h6 pt-2">Objectives:</h3>
                            <ul class="list-unstyled" style="text-align: justify;">
                                @Model.Vacancy.JobObjectives
                            </ul>

                            <h3 class="h6 pt-2">Equality Statement:</h3>
                            <ul class="list-unstyled" style="text-align:justify;">
                                @Model.Summary.EqualityStatement
                            </ul>
                            
                            <hr class="my-4">
                            <div class="btn-group btn-group-lg">
                                <a class="btn btn-primary rounded-pill rounded-end-0 ps-4 pe-3" href="/Identity/Account/Login">Apply for this position</a>
                                <button class="btn btn-primary border-end-0 border-top-0 border-bottom-0 border-light rounded-pill rounded-start-0 px-3" type="button"><i class="fi-heart me-1"></i></button>
                            </div>
                        </div>
                    }
                    <aside class="col-lg-5" style="margin-top: -6rem;">
                        <div class="sticky-top" style="padding-top: 6rem;">
                            <div class="card shadow-sm mb-3 mb-lg-0">
                                <div class="card-body">
                                    <h2 class="h3">Subscribe to our newsletter</h2>
                                    <p>Don’t miss any job updates and relevant vacancies info!</p>
                                    <form class="form-group rounded-pill mb-3">
                                        <div class="input-group">
                                            <span class="input-group-text text-muted"><i class="fi-mail text-muted"></i></span>
                                            <input class="form-control" type="text" placeholder="Your email">
                                        </div>
                                        <button class="btn btn-primary rounded-pill" type="button">Subscribe</button>
                                    </form>

                                </div>
                            </div>

                        </div>
                    </aside>
                </div>
            </div>
        </section>
        <!-- Related jobs (carousel)-->
        <section class="container pt-md-2 pb-5 mb-md-4">
            <div class="d-sm-flex align-items-center justify-content-between pb-4 mb-sm-2">
                <h2 class="h3 mb-sm-0">You may be interested in</h2><a class="btn btn-link fw-normal p-0" href="job-board-catalog.html">View all<i class="fi-arrow-long-right ms-2"></i></a>
            </div>
            <div class="tns-carousel-wrapper tns-controls-outside-xxl tns-nav-outside tns-nav-outside-flush">
                <div class="tns-carousel-inner" data-carousel-options="{&quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1, &quot;gutter&quot;: 16},&quot;600&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 16},&quot;768&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 24},&quot;992&quot;:{&quot;items&quot;:3, &quot;gutter&quot;: 24}}}">

                    @if (Model.Vacancies != null)
                    {
                        foreach (var item in Model.Vacancies)
                        {
                            <div class="pb-4">
                                <div class="card bg-secondary card-hover h-100">
                                    <div class="card-body pb-3">
                                        <div class="d-flex align-items-center mb-2"><img class="me-2" src="~/assets/logo2.png" width="24" alt="IT Pro Logo" /><span class="fs-sm text-dark opacity-80 px-1">@item.JobCode</span><span class="badge bg-faded-danger rounded-pill fs-sm ms-auto">Hot</span></div>
                                        <h3 class="h6 card-title pt-1 mb-2"><a class="text-nav stretched-link text-decoration-none" href="/Catalog/JobDetail/@item.Id">@item.JobTitle</a></h3>
                                       
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between border-0 pt-0">
                                        <div class="fs-sm"><span class="text-nowrap me-3"><i class="fi-map-pin text-muted me-1"> </i>@item.Location</span><span class="text-nowrap me-3"><i class="fs-base text-muted me-1"></i>@item.Datecreated.Value.ToLongDateString()</span></div>
                                        <button class="btn btn-icon btn-light btn-xs text-primary shadow-sm rounded-circle content-overlay" type="button" data-bs-toggle="tooltip" title="Add to saved jobs"><i class="fi-heart"></i></button>
                                    </div>
                                </div>
                            </div>

                        }
                    }

                </div>
            </div>
        </section>
    </main>
    <!-- Footer-->
    <footer class="footer bg-blue pt-5">
        <div class="container pb-2">
            <div class="row align-items-center pb-4">

            </div>
            <!-- Copyright-->
            <p class="fs-sm text-center text-sm-start mb-4"><span class="text-light opacity-50">&copy; All rights reserved. Made by </span><a class="nav-link-light fw-bold" href="https://nsiainsurance.com" target="_blank" rel="noopener">NSIA INSURANCE IT</a></p>
        </div>
    </footer>
    <!-- Back to top button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon fi-chevron-up">   </i></a>
    <!-- Vendor scrits: js libraries and plugins-->
    <script src="~/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="~/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="~/vendor/tiny-slider/dist/min/tiny-slider.js"></script>
    <!-- Main theme script-->
    <script src="~/js/theme.min.js"></script>
</body>

</html>
