@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "PostJob";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
    @*<link rel="stylesheet" href="~/assets/plugins/css/plugins.css">
        <link href="~/assets/css/style.css" rel="stylesheet">*@

}

@if (TempData["success"] != null)
{
    <br />
    <div class="col-lg-9 col-md-8 ">
        <div class="alert alert-success alert-icon-block alert-dismissible" role="alert">
            <div class="alert-icon"><span class="icon-checkmark-circle"></span></div>

            <strong>Success!</strong> @TempData["success"] <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span class="fa fa-times"></span></button>
        </div>
    </div>

}
else if (TempData["error"] != null)
{
    <br />
    <div class="col-lg-9 col-md-8">
        <div class="alert alert-danger alert-icon-block alert-dismissible" role="alert">
            <div class="alert-icon"><span class="icon-checkmark-circle"></span></div>
            <strong>Error !!! @TempData["error"]</strong>  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span class="fa fa-times"></span></button>
        </div>
    </div>

}


<div class="container content-overlay mt-5 mb-md-4 py-5">
    <!-- Breadcrumb-->
    <nav class="mb-3 mb-md-4 pt-md-3" aria-label="Breadcrumb">
        <ol class="breadcrumb breadcrumb-light">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Account</a></li>
            <li class="breadcrumb-item active" aria-current="page">Profile settings</li>
        </ol>
    </nav>
    <!-- Page card like wrapper-->
    <div class="bg-light shadow-sm rounded-3 p-4 p-md-5 mb-2">
        <!-- Account header-->
        <div class="d-flex align-items-start justify-content-between pb-4 mb-2">
            <div class="d-flex align-items-start">
                <div class="position-relative flex-shrink-0">
                    <img class="rounded-circle" src="~/img/avatars/37.png" width="100" alt="Annette Black">
                    <button class="btn btn-icon btn-light btn-xs rounded-circle shadow-sm position-absolute end-0 bottom-0" type="button" data-bs-toggle="tooltip" title="Change image"><i class="fi-pencil fs-xs"></i></button>
                </div>
                <div class="ps-3 ps-sm-4">
                    <h3 class="h5">Welcome @Context.Session.GetString("FirstName") !!!</h3>
                    <ul class="list-unstyled fs-sm mb-0">
                        <li class="d-flex text-nav text-break"><i class="fi-mail opacity-60 mt-1 me-2"></i><span>@User.Identity.Name</span></li>
                        @*<li class="d-flex text-nav text-break"><i class="fi-phone opacity-60 mt-1 me-2"></i><span></span></li>*@
                    </ul>
                </div>
            </div>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark nav-link p-0 d-none d-md-block"><i class="fi-logout mt-n1 me-2"></i> Click here to Logout</button>
            </form>
        </div>
        <!-- Account menu--><a class="btn btn-outline-primary btn-lg rounded-pill w-100 d-md-none" href="#account-nav" data-bs-toggle="collapse"><i class="fi-align-justify me-2"></i>Account Menu</a>
        <div class="collapse d-md-block" id="account-nav">
            <ul class="nav nav-pills flex-column flex-md-row pt-3 pt-md-0 pb-md-4 border-bottom-md">

                <li class="nav-item mb-md-0 me-md-2 pe-md-1"><a class="nav-link " href="@Url.Action("Index","HRDashboard")" aria-current="page"><i class="fi-settings mt-n1 me-2 fs-base"></i>Profile Settings</a></li>
                <li class="nav-item mb-md-0 me-md-2 pe-md-1"><a class="nav-link" href="@Url.Action("PostJob","HRDashboard")"><i class="fi-file mt-n1 me-2 fs-base"></i>Post Job</a></li>

                <li class="nav-item mb-md-0 me-md-2 pe-md-1"><a class="nav-link" href="@Url.Action("AllPostedJobs", "HRDashboard")"><i class="fi-heart mt-n1 me-2 fs-base"></i>All Posted Jobs</a></li>

                <li class="nav-item mb-md-0 me-md-2 pe-md-1"><a class="nav-link active" href="@Url.Action("Summary","HRDashboard")"><i class="fi-file mt-n1 me-2 fs-base"></i>Summary</a></li>
                <li class="nav-item mb-md-0 me-md-2 pe-md-1"><a class="nav-link" href="@Url.Action("ViewSummary","HRDashboard")"><i class="fi-file mt-n1 me-2 fs-base"></i>View Summary</a></li>


                <li class="nav-item mb-md-0 me-md-2 pe-md-1"><a class="nav-link" href="@Url.Action("Applied", "HRDashboard")"><i class="fi-list mt-n1 me-2 fs-base"></i>Applied</a></li>

                <li class="nav-item d-md-none"><a class="nav-link" href="#"><i class="fi-logout mt-n1 me-2 fs-base"></i>Sign Out</a></li>
            </ul>
        </div>
        <form asp-action="Summary" asp-controller="HRDashboard" method="post">
            <section class="card card-body border-0 shadow-sm p-4 mb-4" id="basic-info">
                <h2 class="h4 text-dark mb-4"><i class="fi-info-circle text-primary fs-5 mt-n1 me-2"></i>Basic info</h2>
                <div class="mb-3">
                    <label class="form-label" for="sc-title">About Company <span class="text-danger">*</span></label>
                    <textarea class="form-control" rows="5" placeholder="About Company" name="companySummary"></textarea>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="sc-title">Eqaulity Statement <span class="text-danger">*</span></label>
                    @*<input class="form-control" type="text" id="sc-title" placeholder="Title for your property" value="Mercedes-Benz E 400 Cabriolet" required>*@
                    <textarea class="form-control" rows="5" placeholder="About Company" name="equalityStatement"></textarea>
                </div>


            </section>
            <!-- Price-->

            <div class="row pt-4 mt-2">
                <div class="col-lg-9 offset-lg-3">
                    <div class="d-flex align-items-center justify-content-between">
                        <button class="btn btn-primary btn-lg rounded-pill px-3 px-sm-4" type="submit">Submit</button>


                    </div>
                </div>
            </div>
        </form>
    </div>
</div>




<!-- Content Wrap -->
@*<div class="col-lg-9 col-md-8">
        <div class="dashboard-body">
            <div class="dashboard-caption">

                <div class="dashboard-caption-header">
                    <h4><i class="ti-ruler-pencil"></i>Capture Company Summary & Equality</h4>
                </div>


                <div class="dashboard-caption-wrap">
                    <form class="post-form" asp-controller="HRDashboard" asp-action="Summary" method="post">



                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label>Company Summary</label>
                                    <textarea class="form-control about height-120" placeholder="About Company" name="companySummary"></textarea>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label>Equality Statement</label>
                                    <textarea class="form-control about height-120" placeholder="About Company" name="equalityStatement"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row mrg-top-30">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group text-center">
                                    <button type="submit" class="btn-savepreview"><i class="ti-angle-double-right"></i>Save</button>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>

            </div>
        </div>
    </div>*@


<!--<script type="text/javascript" src="~/assets/plugins/js/jquery.min.js"></script>
<script type="text/javascript" src="~/assets/plugins/js/viewportchecker.js"></script>
<script type="text/javascript" src="~/assets/plugins/js/bootstrap.min.js"></script>
<script type="text/javascript" src="~/assets/plugins/js/bootsnav.js"></script>
<script type="text/javascript" src="~/assets/plugins/js/select2.min.js"></script>
<script type="text/javascript" src="~/assets/plugins/js/wysihtml5-0.3.0.js"></script>
<script type="text/javascript" src="~/assets/plugins/js/bootstrap-wysihtml5.js"></script>
<script type="text/javascript" src="~/assets/plugins/js/datedropper.min.js"></script>
<script type="text/javascript" src="~/assets/plugins/js/dropzone.js"></script>
<script type="text/javascript" src="~/assets/plugins/js/loader.js"></script>
<script type="text/javascript" src="~/assets/plugins/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="~/assets/plugins/js/slick.min.js"></script>
<script type="text/javascript" src="~/assets/plugins/js/jquery.easy-autocomplete.min.js"></script>-->
<!-- Custom Js -->
<!--<script src="~/assets/js/custom.js"></script>
<script type="text/javascript" src="~/assets/plugins/js/counterup.min.js"></script>

<script type="text/javascript" src="~/assets/plugins/js/sweetalert.html"></script>-->
<!-- Map -->
<!--<script src="http://maps.google.com/maps/api/js?key="></script>
<script src="~/assets/js/map_infobox.js"></script>
<script src="~/assets/js/markerclusterer.js"></script>
<script src="~/assets/js/map.js"></script>

<script src="~/assets/js/dashboard-custom.js"></script>

<script>
    $('#expirejob').dateDropper();
</script>-->
