@model HRPortal.Web.Models.DocumentViewModel
@{
    ViewData["Title"] = "Apply";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <style>
        .page-loading {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -webkit-transition: all .4s .2s ease-in-out;
            transition: all .4s .2s ease-in-out;
            background-color: #fff;
            opacity: 0;
            visibility: hidden;
            z-index: 9999;
        }

            .page-loading.active {
                opacity: 1;
                visibility: visible;
            }

        .page-loading-inner {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            text-align: center;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            -webkit-transition: opacity .2s ease-in-out;
            transition: opacity .2s ease-in-out;
            opacity: 0;
        }

        .page-loading.active > .page-loading-inner {
            opacity: 1;
        }

        .page-loading-inner > span {
            display: block;
            font-size: 1rem;
            font-weight: normal;
            color: #666276;
        }

        .page-spinner {
            display: inline-block;
            width: 2.75rem;
            height: 2.75rem;
            margin-bottom: .75rem;
            vertical-align: text-bottom;
            border: .15em solid #bbb7c5;
            border-right-color: transparent;
            border-radius: 50%;
            -webkit-animation: spinner .75s linear infinite;
            animation: spinner .75s linear infinite;
        }

        ol.c {
            list-style-type: upper-roman;
        }

        ol.d {
            list-style-type: lower-alpha;
        }

        ul.a {
            list-style-position: outside;
        }

        ul.b {
            list-style-position: inside;
        }

        @@-webkit-keyframes spinner {
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @@keyframes spinner {
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
    </style>
    <!-- Page loading scripts-->
    <script>
        (function () {
            window.onload = function () {
                var preloader = document.querySelector('.page-loading');
                preloader.classList.remove('active');
                setTimeout(function () {
                    preloader.remove();
                }, 2000);
            };
        })();

    </script>
    <!-- Vendor Styles-->
    <link rel="stylesheet" media="screen" href="~/vendor/simplebar/dist/simplebar.min.css" />
    <link rel="stylesheet" media="screen" href="~/vendor/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css" />
    <link rel="stylesheet" media="screen" href="~/vendor/filepond/dist/filepond.min.css" />
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="~/css/theme.min.css">
    <link href="~/sweetalert2.css" rel="stylesheet" />

    <script src="~/assets/plugins/js/jquery.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js"></script>

}

<section class="bg-dark pt-5">
    <div class="container py-5">
    </div>

</section>
<section class="position-relative bg-white rounded-xxl-4 zindex-5" style="margin-top: -30px;">
    <div class="container mt-5 mb-md-4 py-5">
        <!-- Breadcrumb-->
        <nav class="mb-3 mb-md-4 pt-md-3" aria-label="Breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Post resume</li>
            </ol>
        </nav>
        <!-- Page content-->
        <div class="row justify-content-center pb-sm-2">
            <div class="col-lg-11 col-xl-10">
                <!-- Page title-->
                <div class="text-center pb-4 mb-3">
                    <h1 class="h2 mb-4">Create online resume</h1>
                    <p class="mb-4">Save time by uploading a resume to prefill some of the fields below. Please, use PDF format.</p>
                    <form asp-controller="Dashboard" asp-action="Apply" enctype="multipart/form-data">
                        <input type="hidden" value="@Model.vacancyId" name="vacancyId" id="vacancyId" />
                        <div class="row">
                            <div class="col-sm-2 mb-4">
                            </div>
                            <div class="col-sm-8 mb-4">
                                <label class="form-label" for="pr-fn">Resume<span class='text-danger'>*</span></label>
                                <input class="form-control form-control-lg" type="file" id="pr-fn" placeholder="Enter your first name" name="formFile" required>

                            </div>
                            <div class="col-sm-2 mb-4">
                            </div>
                        </div>

                        <button class="btn btn-primary  rounded-pill" type="submit">
                            <i class="fi-upload me-2"></i>Upload existing resume
                        </button>

                        <a href="~/cv/TestCV.docx" class="btn btn-success rounded-pill">Download Template</a>
                    </form>
                </div>

                <form asp-controller="Dashboard" asp-action="Submit" method="post">
                    <input type="hidden" value="@TempData["vacancyId"]" name="vacancyId" id="vacancyId" />

                    <div class="bg-light rounded-3 pt-4 pb-0 px-4 p-md-5 mb-3">
                        <!-- Title + Action buttons-->
                        <div class="d-md-flex align-items-center mb-4 pb-md-2">
                            <h2 class="h4 mb-md-0"><i class="fi-eye-on text-primary fs-5 mt-n1 me-2 pe-1"></i>Review your resume and save</h2>
                            <div class="ms-md-auto">
                                <div class="dropdown d-lg-none">
                                    <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"><i class="fi-align-justify me-1"></i>Actions</button>
                                    <div class="dropdown-menu dropdown-menu-end my-1"><a class="dropdown-item" href="#"><i class="fi-trash me-2"></i>Delete</a><a class="dropdown-item" href="#"><i class="fi-archive me-2"></i>Archive</a><a class="dropdown-item" href="#"><i class="fi-download-file me-2"></i>Download as PDF</a></div>
                                </div>
                                <ul class="list-unstyled d-none d-lg-flex flex-wrap fs-sm mb-0">
                                    <li class="border-end mb-0"><a class="nav-link text-nowrap" href="#"><i class="fi-trash me-1"></i><span class="align-middle">Delete</span></a></li>
                                    <li class="border-end mb-0"><a class="nav-link text-nowrap" href="#"><i class="fi-archive me-1"></i><span class="align-middle">Archive</span></a></li>
                                    <li class="mb-0"><a class="nav-link text-nowrap pe-0" href="#"><i class="fi-download-file me-1"></i><span class="align-middle">Download as PDF</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Resume preview-->
                        <div class="card shadow-sm p-md-2 mx-n4 mx-md-0">
                            <div class="card-body p-4">
                                <div class="mb-4">
                                    <h4 class="h5">Personal Information</h4>

                                    @if (Model == null)
                                    {

                                    }
                                    else
                                    {
                                        <div id="personalinformation" name="personalinformation">
                                            <ul>
                                                @if (Model.Personal != null)
                                                {
                                                    foreach (var i in Model.Personal.Where(i => !string.IsNullOrEmpty(i)))
                                                    {
                                                        @i
                                                    }
                                                }
                                            </ul>
                                        </div>

                                    }

                                </div>

                                <div class="mb-4">
                                    <h4 class="h5">Objective</h4>

                                    @if (Model == null)
                                    {

                                    }
                                    else
                                    {
                                        <div id="objective" name="objective">
                                            <ul>
                                                @if (Model.Objective != null)
                                                {
                                                    foreach (var i in Model.Objective.Where(i => !string.IsNullOrEmpty(i)))
                                                    {
                                                        @i
                                                    }
                                                }
                                            </ul>
                                        </div>

                                    }

                                </div>

                                <div class="border-top py-4">
                                    <h4 class="h5">Experience Summary</h4>


                                    @if (Model == null)
                                    {

                                    }
                                    else
                                    {
                                        <div id="experiencesummary" name="experiencesummary">
                                            <ul>
                                                @if (Model.ExperienceSummary != null)
                                                {
                                                    foreach (var i in Model.ExperienceSummary.Where(i => !string.IsNullOrEmpty(i)))
                                                    {
                                                        <li> @i</li>
                                                    }
                                                }

                                            </ul>
                                        </div>
                                    }


                                </div>
                                <div class="border-top py-4">
                                    <h4 class="h5">Academics</h4>
                                    @if (Model == null)
                                    {

                                    }
                                    else
                                    {
                                        <div id="education" name="education">
                                            <ul>
                                                @if (Model.Education != null)
                                                {
                                                    foreach (var i in Model.Education.Where(i => !string.IsNullOrEmpty(i)))
                                                    {
                                                        <li>  @i</li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    }
                                </div>
                                <div class="border-top py-4">
                                    <h4 class="h5">Skill</h4>
                                    @if (Model == null)
                                    {

                                    }
                                    else
                                    {
                                        <div id="skill" name="skill">
                                            <ul>
                                                @if (Model.Skill != null)
                                                {
                                                    foreach (var i in Model.Skill.Where(i => !string.IsNullOrEmpty(i)))
                                                    {
                                                        <li> @i</li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    }
                                </div>
                                <div class="border-top pt-4">
                                    <h4 class="h5">Project Experience</h4>
                                    @if (Model == null)
                                    {

                                    }
                                    else
                                    {
                                        <div id="projectexperience" name="projectexperience">
                                            <ul>
                                                @if (Model.ProjectExperience != null)
                                                {
                                                    foreach (var i in Model.ProjectExperience.Where(i => !string.IsNullOrEmpty(i)))
                                                    {
                                                        <li> @i</li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    }
                                </div>

                                <div class="border-top pt-4">
                                    <h4 class="h5">Online Presence</h4>
                                    @if (Model == null)
                                    {

                                    }
                                    else
                                    {
                                        <div id="onlinepresence" name="onlinepresence">
                                            <ul>
                                                @if (Model.Handle != null)
                                                {
                                                    foreach (var i in Model.Handle.Where(i => !string.IsNullOrEmpty(i)))
                                                    {
                                                        <li> @i</li>
                                                    }
                                                }

                                            </ul>
                                        </div>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Navigation-->
                    <div class="d-flex flex-column flex-sm-row bg-light rounded-3 p-4 px-md-5">
                        <a class="btn btn-outline-primary btn-lg rounded-pill mb-3 mb-sm-0" href="#"><i class="fi-chevron-left fs-sm me-2"></i>Previous step</a>
                        <button class="btn btn-primary btn-lg rounded-pill ms-sm-auto" id="submit" type="button">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

</section>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/sweetalert2.min.js"></script>
<script type="text/javascript">
    $("#submit").on('click', function () {

        var onlinePresence = $("#onlinepresence").html();
        var projectexperience = $("#projectexperience").html();
        var skill = $("#skill").html();
        var education = $("#education").html();
        var objective = $("#objective").html();
        var experiencesummary = $("#experiencesummary").html();
        var personalinformation = $("#personalinformation").html();

        var data = {
            "personalinformation": personalinformation,
            "onlinePresence": onlinePresence,
            "projectexperience": projectexperience,
            "skill": skill,
            "education": education,
            "objective": objective,
            "experiencesummary": experiencesummary,
            "vacancyId": "@TempData["vacancyId"]"
        };

        $.ajax({
            url: "@Url.Action("Index", "Utility")",
            type: "POST",
            data: data,
            success: function (response) {
                console.log(response);

                if (response.status == "true") {
                    Swal({
                        type: 'success',
                        title: 'Job Application',
                        html: 'Your application has been submitted succesfully. We will get back to you shortly.'
                    }).then((result) => {
                       // if (result['isConfirmed']) {
                        // Put your function here
                        window.location.href = '@Url.Action("Index", "Dashboard")';
                        //}
                    });
                } else if (response.status =="exist") {
                    Swal({
                        type: 'error',
                        title: 'Job Application',
                        html: 'You have applied for the vacancy before.'

                    }).then((result) => {
                       // if (result['isConfirmed']) {
                        // Put your function here
                        window.location.href = '@Url.Action("Index", "Catalog")';
                        //}
                    });
                }
                else {
                    Swal({
                        type: 'error',
                        title: 'Job Application',
                        html: 'Opps! Error occurred while submitting the application. Kindly try again later.'

                    }).then((result) => {
                       // if (result['isConfirmed']) {
                        // Put your function here
                        window.location.href = '@Url.Action("Index", "Catalog")';
                        //}
                    });
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        });

    });
</script>
